/*Primary Color:rgb(15,108,107)*/
/*Secondary Color:rgb(50,50,50)*/
/*Grey:rgb(240,240,240)*/
/* wrapper-width:700px */

@font-face {
    font-family: 'Oxygen';
    src: url(../fonts/Oxygen/Oxygen-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Oxygen';
    src: url(../fonts/Oxygen/Oxygen-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}

.primary-color{
	color:rgb(15,108,107) !important;
}

body{
	font-family: 'Oxygen',sans-serif;
}

nav{
	background-color:rgb(15,108,107);
}

.top-margin-50px {
    margin-top: 50px;
}

nav .nav-wrapper{
	text-align: center;
}
.nav-custom{
	display: inline-block;
}

.nav-custom > li{
	padding: 0 1rem;
}

nav ul li{
	// margin: 0 1em;
}

.sidebar-humburger{
	margin-left: 2rem;
}

.header-wrapper{
	margin: 0 auto;
	max-width: 800px;
}

.header-container{
	display: flex;
	align-items:flex-end;
	justify-content: space-between;
}

.logo-name{
	display: flex;
	align-items:center;
	margin-left: 2rem;
}

.logo-name .name h5{
	// font-weight: bold;
	font-size: 1.5rem;
}

.logo-name .name{
	margin-left: 1rem;
}

.logo-name .name h5:nth-child(1){
	margin-bottom: 0.3rem;
}

.logo-name .name h5:nth-child(2){
	margin-top: 0.1rem;
}

.logo-name .logo img{
	width: 100px;
}

.header-links{
	margin-right: 2rem;
    margin-bottom: 1.4rem;
}

.header-links i {
	cursor:pointer;
}

.footer-wrapper{
	background-image: url("../img/footer.jpg");
	height: 300px;
	background-size: cover;
	background-position: top center;
	border-top: 4px solid rgb(50,50,50);
}