/*Primary Color:rgb(15,108,107)*/
/*Secondary Color:rgb(50,50,50)*/

@font-face {
    font-family: 'Oxygen';
    src: url(../fonts/Oxygen/Oxygen-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Oxygen';
    src: url(../fonts/Oxygen/Oxygen-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}

body{
	font-family: 'Oxygen',sans-serif;
}

nav{
	background-color:rgb(15,108,107);
}

nav .nav-wrapper{
	text-align: center;
}
.nav-custom{
	display: inline-block;
}