/*Primary Color:rgb(15,108,107)*/
/*Secondary Color:rgb(50,50,50)*/
/*Grey:rgb(240,240,240)*/
/*Green:rgb(163,169,72)*/
/* wrapper-width:700px */

@font-face {
    font-family: 'Oxygen';
    src: url(../fonts/Oxygen/Oxygen-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Oxygen';
    src: url(../fonts/Oxygen/Oxygen-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}

.primary-color{
	color:rgb(15,108,107) !important;
}

strong{
	font-weight: bold;
}

html,body{
	height: 100%
}

body{
	font-family: 'Oxygen',sans-serif;
	min-height: 100%;
}

.wrapper{
	min-height: 100vh;
	display: flex;
    flex-direction: column;
}



nav{
	background-color:rgb(15,108,107);
}



/* Navbar */

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{
	background-color: rgba(8, 8, 8, 0.2);
}

.navbar-custom{
	background-color: rgb(15,108,107);
	border: 0;
	margin-bottom: 0;
}

.navbar-inverse .navbar-nav > li > a{
	color: rgba(255,255,255,0.9);
	line-height: 2.2;
}

.navbar-nav > li{
	margin:0  10px;
}

@media (min-width: 768px){
	.navbar-collapse.collapse {
	    display: flex !important; 
	    justify-content:center;
	}
}

/* Nav Ends */



.top-margin-50px {
    margin-top: 50px;
}
.bottom-margin-50px {
    margin-bottom: 50px;
}


nav .nav-wrapper{
	text-align: center;
}
.nav-custom{
	display: inline-block;
}

.nav-custom > li{
	padding: 0 1rem;
}

nav ul li{
	// margin: 0 1em;
}




.sidebar-humburger{
	margin-left: 2rem;
}

.header-wrapper,.footer-wrapper,.contents-wrapper{
	margin: 0 auto;
	max-width: 800px;
}

.contents-wrapper{
	margin-top: 3rem;
    margin-bottom: 2rem;
	flex:1;
	line-height: 1.5;
	font-size: 16px;
}


.header-container{
	display: flex;
	align-items:flex-end;
	justify-content: space-between;
	margin: 0.4rem 0;
}

#dropdown1{
	// overflow: hidden;
}

.logo-name{
	display: flex;
	align-items:center;
	margin-left: 2rem;
}

.logo-name .name h5{
	// font-weight: bold;
	font-size: 2.3rem;
	text-decoration: none;
	color: rgb(50,50,50);
}

.logo-name .name a:hover{
	text-decoration: none;
}

.logo-name .name{
	margin-left: 1rem;
}

.logo-name .name h5:nth-child(1){
	margin-bottom: 0.3rem;
}

.logo-name .name h5:nth-child(2){
	margin-top: 0.1rem;
}

.logo-name .logo img{
	width: 100px;
}

.header-links{
	margin-right: 2rem;
    margin-bottom: 2.2rem;
}

.header-links i {
	cursor:pointer;
	margin:0 0.3rem;
}

footer{
	// background-image: url("../img/footer.jpg");
	background-color: #F0F0F0;
	background-size: cover;
	background-position: top center;
	border-top: 4px solid rgb(50,50,50);
	display: flex;
    align-items: center;
    margin-top: 5rem;
}

.footer-wrapper{
	padding: 6rem 1rem 2rem 1rem;;
	position: relative;
}

.seperator:after{
	content: "|";
	font-style: normal;
}

footer .row{
	font-size: 1.5rem;
}

footer .address{

}


.links a{
	color:rgba(0, 0, 0, 0.87);
}

.links a:hover{
	color:rgba(0, 0, 0, 1);
}

.links>div{
	margin-bottom: 1rem
}


.footer-social {
    font-size: 2rem;
}


.footer-social a{
	color: rgb(50,50,50);
	margin:0 0.25rem;
	opacity: 0.85;
}
.footer-social a:hover{
	opacity: 1;
}

.footer-wrapper>.logo {
	position: absolute;
	top: -4.8rem;
    left: 43%;
    background-color: #F0F0F0;
    padding: 1.6rem;
    border-radius: 100%;
    border: 4px solid rgb(50, 50, 50);
}

.footer-wrapper>.logo img{
	width: 50px;
}

.slick-arrow{
	font-family: 'FontAwesome';
	background-color: white;
	border: 0;
	padding:0.5rem 1rem;
	position: absolute;
    z-index: 999;
    bottom: 2rem;
	font-size: 0;
}

.slick-arrow:hover,.slick-arrow:focus,.slick-arrow:active{
	outline: 0;
	border: 0;
}

.slick-prev{
    right: 8rem;
}

.slick-prev:after{
	content: "\f053";
	font-size: 16px;
}

.slick-next{	
    right: 4rem
}

.slick-next:after{
	content: "\f054";
	font-size: 16px;
}

.widgets-wrapper{
	background-color:rgb(15,108,107);
	padding-bottom: 8rem;
    padding-top: 3rem;
}

.widgets-container{
	max-width: 800px;
    margin: 0 auto;
}

.announcement-content,.news-content{
	color: white;
}

.events-content{
	color:rgb(163,169,72);
}

.announcement-content ul,.news-content ul,.events-content ul{
	padding: 0;
    list-style: none;
    margin-top: 2rem;
}

.announcement-content ul li,.news-content ul li{
	display: block;
	background-color: white;
	color: rgb(50,50,50);
	padding: 1rem;
	margin:1rem 0;
}

.events-content ul li{
	margin:1rem 0;
	color: white;
	margin-bottom: 3rem;
}

#announcement-list-pagination,#news-list-pagination,#events-list-pagination{
	text-align:right;
	margin-top: 1.5rem;
}

#announcement-list-pagination span,#news-list-pagination span,#events-list-pagination span{
	border: 1px solid white;
    padding: 0.5rem;
    color: white;
}

#events-list-pagination span{
	border-color:rgb(163,169,72);
	color:rgb(163,169,72);
}

#announcement-list-previous.disabled,#announcement-list-next.disabled,#news-list-previous.disabled,#news-list-next.disabled,#events-list-previous.disabled,#events-list-next.disabled{
	opacity: 0.5;
	cursor:not-allowed;
	// display: none;
}

#home footer{
	margin-top: 0;
}

#news-list .more{
	background-color: #0F6C6B;
    margin-left: 0.5rem;
    color: white;
    padding: 0rem 0.8rem;
}

.event-container{
	display: flex;
	align-items:center;
}

.event-container .date{
	min-width: 90px;
	border-right: 2px solid rgb(163,169,72);
	// text-align: center;
}

.event-container .date>span{
	display: inline-block;
	border: 2px solid rgb(163,169,72);
    border-radius: 100%;
    padding: 1rem 2.5rem;
    text-align: center;
    width: 75px;
    height: 75px;
}

.event-container .date>span .month{
	color: rgb(163,169,72);
}

.event-container .date>span .day{
	font-size: 1.5em;
}

.event-container .event-text{
	margin-left: 1rem;
}

#events{
	padding: 0 2rem
}

#announcements{
	padding: 0;
	padding-right: 2rem;
}

#news{
	padding: 0;
	padding-left: 2rem;
}

/**
 * Directors Msg
 */
.dir-msg{
	display: flex;
	margin-top: 2rem;
}

.dir-text{
	padding-left: 3rem;
}

.dir-detail{
	text-align: center;
	display: inline-block;
	line-height: 1.6;
}

.dir-detail >img{
	border-radius: 100%;
    border: 5px solid #F0F0F0;
    margin-bottom: 1rem;
}

.dir-detail>div:nth-child(2){
	font-weight: bold;
}

.dir-detail>div:nth-child(3),.dir-detail>div:nth-child(4){
	font-size: 0.85em;
}
